@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.heart {
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.heart:hover {
  animation: heartbeat 1s infinite;
  fill: red;
  color: red;
  opacity: 1;
  transition: 500ms;
}

.heart--active {
  fill: red;
  color: red;
  opacity: 1;
}
