.react-datepicker-wrapper {
  width: 250px;
  margin: 4px;
  border: 0px 0px 1px 0px;
  border-color: black;
  border-style: solid;
}

.react-datepicker__input-container {
}

.react-datepicker__input-container input {
  width: 100%;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  border: 1px solid #e5e7eb;
  padding: 10px;
}

.react-datepicker__day--selected {
  background-color: #a78bfa;
}

.react-datepicker__day--selected:hover {
  background-color: #8b5cf6;
}

.react-datepicker__day--in-range {
  background-color: #a78bfa;
}

.react-datepicker__day--in-range:hover {
  background-color: #8b5cf6;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
  background-color: #a78bfa;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #a78bfa;
}
